body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
}

.logo-text {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10px;
}
.home-button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-align: center; 
    
  }
  .home-button p {
    font-size: 14px;
    margin: 0;
    color: #ffffff;
  }
  
  
  .home-button:hover {
    background-color: #e64a19;
  }
  

.nav-bar {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #fff;
  }
  
  .nav-bar i {
    font-size: 20px; /* Reduced icon size */
    cursor: pointer;
  }

.nav-bar button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.nav-bar button:hover {
    background-color: #e64a19;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.wishlist-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.wishlist-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.wishlist-item:last-child {
    border-bottom: none;
}

.wishlist-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.wishlist-item-details {
    flex-grow: 1;
}

.wishlist-item-details p {
    margin: 5px 0;
}

.remove-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #d32f2f;
}

/* Cart Notification */
.cart-notification {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    top: -10px; /* Adjusted to position on the top right */
    right: -10px; /* Adjusted to position on the top right */
    display: flex;
    align-items: center;
    justify-content: center;
}
